
$cellSize: 15px;
$bg: #262626;
$alive: #f07872;
$old: #c12c27;
$board: #2f2f2f;

body {
  background: $bg;
  //background: $bg linear-gradient($bg, $bg + 20, $bg);
}

.cell {
  background: #0f0f0f;
  width: $cellSize;
  height: $cellSize;
  border: 1px solid #5c5c5c;
  margin: 0;
  padding: 0;
  float:left;
}

.alive {
  background: $alive;
}

.alive.old {
  background: $old;
}

#board {
  background: $board;
  width: 675px;
}

.generations {
  color: #F0F0F0;
}
